<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Document</title>
</head>
<body>
    <h1 class="wel">WELCOME TO YOUR BOOK-NOTES</h1>
    <div class="ddContainers">
      <div class="btnContainer">
          <label for="Genre" class="l">Choose a genre:</label>
          <select name="genre" id="genre">
            <option value="all">Select All</option>
              <option value="action">Action</option>
              <option value="Comedy">Comedy</option>
              <option value="Drama">Drama</option>
              <option value="Sci-fi">Sci-fi</option>
              <option value="Horror">Horror</option>
          </select>
      </div>
      
      <div class="ratingContainer">
        <div>Rating:</div>
          <div class="arrow active">↑</div>
          <div class="arrow">↓</div>
      </div>
      <div class="date">
        <div>Date of Completion:</div>
        <input type="month" class="calendar">
      </div>
    </div>
    <div class="bookContainers">
      <img src="" alt="">
      <div class="notes"></div>
    </div>
</body>
</html>